/* declaring css variables */
:root {
  --white: #f7f7ff;
  --light_brown: #c49991;
  --blue: #279af1;
  --gray: #60656f;
  --dark_gray: #131112;
}

/* customizing html elements */
body {
  background-color: var(--white);
  font-family: poppins;
}

/* class customizations */
.navbar {
  height: 64px;
  background-image: linear-gradient(to right, #144d79, #279af1);
}
.navbar-brand {
  color: var(--white);
  font-size: x-large;
}
.navbar-brand:hover {
  color: var(--white);
}

.navbar-brand:visited {
  color: var(--white);
}
.navButton {
  background-color: var(--white);
  color: var(--dark_gray);
  border-radius: 20px;
  font-size: small;
}
.footerColor {
  background-color: var(--gray);
  opacity: 50%;
}

.movie_card {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  margin: auto;
}

/* search bar related styles */
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
/* util classes */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
