/* declaring css variables */
:root {
  --white_text: #f7f7ff;
}

/* customizing html elements */
body {
  background-color: var(--white_text);
  font-family: poppins;
}

/* class customizations */
.navbar {
  height: 64px;
  background-image: linear-gradient(to right, #144d79, #279af1);
}
.navbar-brand {
  color: #f7f7ff;
  font-size: x-large;
}
.navbar-brand:hover {
  color: #f7f7ff;
}

.navbar-brand:visited {
  color: #f7f7ff;
}
.navButton {
  background-color: #f7f7ff;
  color: #131112;
  border-radius: 1rem;
  padding: 0.5rem;
}
.footerColor {
  background-color: #60656f;
}

/* rating related style */
.rating-container {
  display: flex;
}
.rate {
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* rating related style */
