/* declaring css variables */
:root {
  --white: #f8f8ff;
  --light_brown: #c49991;
  --blue: #279af1;
  --gray: #60656f;
  --dark_gray: #131112;
}

/* customizing html elements */

* {
  font-family: "Poppins", cursive;
}

body {
  background-color: var(--white) !important;
}

/* class customizations */
.a {
  text-decoration: none;
}
.navbar {
  position: relative;
  background-image: linear-gradient(to right, #144d79, #279af1);
}

.navbar-brand:hover {
  color: var(--white);
}

.navbar-brand:visited {
  color: var(--white);
}

.navButton {
  background-color: var(--white);
  color: var(--dark_gray);
  border-radius: 20px;
  font-size: small;
  font-weight: bold;
}

.login {
  font-weight: bold;
  background-color: var(--white);
  color: var(--dark_gray);
  border-radius: 20px;
  font-size: small;
}
.footerColor {
  background-color: rgba(192, 216, 224, 0.5);
  /* background-image: linear-gradient(to bottom, #fffaff, #279af1); */
}

.movie_card {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  max-width: 15rem;
}

/* search bar related styles */

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* container for showing search results */

.search-container {
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
}

/* util classes */

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* rating related style */

.rating-container {
  display: flex;
}

.rate {
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* ~rating related style */

/* discussion card related style */
.inline {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.inline > p {
  color: var(--dark_gray);
  font-weight: 500;
}
/* ~discussion card related style */

.heading1 {
  text-decoration: underline;
  margin-top: 1rem;
  padding-left: 1rem;
  margin: 10px;
}

.top_discussion {
  padding: 1.5rem;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 20px;
}

.title {
  color: #131112;
}
.link {
  text-decoration: none;
}

.descri {
  color: var(--dark_gray);
}

.discussion_button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(21, 82, 179, 1) 26%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  font-size: medium;
  color: #ffffff;
}


.singleMoviePoster
{
  max-height: 300px;
  max-width: 200px;
  float: left; border: 1px solid;
}
.singleMovieContents
{
  text-align: left;
  width:80%;
  float: right;
}
.discussion-contents
{
  text-decoration: none;
  margin: 1rem;
}
.avatar
{
  border-radius: 15px;
}
